.header__email {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  text-align: right;
  margin: 0;
  margin-left: auto;
  margin-right: 24px;
}