.popup_button_input_save_disabled {
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  min-width: 358px;
  min-height: 50px;
  margin: 15px auto 27px;
  border-bottom: none;

  background: #FFFFFF;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
}

.popup_button_input_save_disabled:hover {
  cursor: auto;
}

@media screen and (max-width: 1023px) {
  .popup_button_input_save_disabled {
    min-width: 238px;
  }
}

@media screen and (max-width: 767px ) {
  .popup_button_input_save_disabled {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
    margin: 15px auto 15px;
  }
}
