.profile {
  max-width: 880px;
  padding: 40px 0 47px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 150px 580px 150px;
  gap: 0;
}

@media  screen and (max-width: 1023px) {
  .profile {
    max-width: 282px;
    grid-template-columns: 1fr;
    padding-bottom: 34px;
  }
}


