.element__delete {
  background-image: url(../../../images/delete_button.svg);
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
  height: 20px;
  margin: 0;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__delete:hover {
  opacity: .6;
  cursor: pointer;
}
