.popup-edit__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  width: 358px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1023px) {
  .popup-edit__name {
    width: 238px;
  }
}
